"(4,4,4)&10&3.097&0.311772\\\\"
,
-CompiledCode-],
.#cleanTrans.mth
.#details.mth
.#quickFocus.mth
0.,
0.},
0.}},
1,
1.
3cs.txt
9.47963,
AMASeriesRepresentation.blg
AMASeriesRepresentation.toc
AMASeriesRepresentationTests.m
Block[{Compile
Compile
CompiledFunction[{betterRBCcctm1,
[1,
at
betterRBC
betterRBCcct,
betterRBCcctp1,
betterRBCepsVal},
betterRBCkkt,
betterRBCkktm1,
betterRBCkktp1,
betterRBCnlt,
betterRBCnltm1,
betterRBCnltp1,
betterRBCthetat
betterRBCthetat,
betterRBCthetatm1
betterRBCthetatm1,
betterRBCthetatp1,
bmat.tex
chkConv.node001a.6482818.err
chkConv.node002c.6428999.err
chkConv.node002d.6430637.err
chkConv.node004a.6537386.err
chkConv.node004d.6463240.err
chkConv.node005b.6464138.err
chkConv.node006c.6439721.err
chkConv.node006c.6439809.err
chkConv.node008b.6537047.err
chkConv.node008b.6537048.err
chkConv.node008b.6537049.err
chkConv.node008b.6537385.err
chkConv.node008b.6537387.err
chkConv.node009c.6427936.err
chkConv.node009c.6430148.err
chkConv.node013d.6440373.err
chkConv.node023a.6430645.err
chkConv.sbatch
details.blg
doErrTable.mth
doErrTable.node004b.6537390.err
doErrTable.node004b.6595048.err
doErrTable.node004b.6595050.err
doErrTable.node004d.6595052.err
doErrTable.node008b.6537388.err
doErrTable.node008b.6537389.err
doErrTable.sbatch
errTable1X1X1X1.tex
errTable1X1X1X10.tex
errTable1X1X1X2.tex
errTable1X1X1X3.tex
errTable1X1X1X4.tex
errTable1X1X1X5.tex
errTable1X1X1X6.tex
errTable1X1X1X7.tex
errTable1X1X1X8.tex
errTable1X1X1X9.tex
errTable1X1X2X1.tex
errTable1X1X2X10.tex
errTable1X1X2X2.tex
errTable1X1X2X3.tex
errTable1X1X2X4.tex
errTable1X1X2X5.tex
errTable1X1X2X6.tex
errTable1X1X2X7.tex
errTable1X1X2X8.tex
errTable1X1X2X9.tex
errTable1X2X1X1.tex
errTable1X2X1X10.tex
errTable1X2X1X2.tex
errTable1X2X1X3.tex
errTable1X2X1X4.tex
errTable1X2X1X5.tex
errTable1X2X1X6.tex
errTable1X2X1X7.tex
errTable1X2X1X8.tex
errTable1X2X1X9.tex
errTable1X2X2X1.tex
errTable1X2X2X10.tex
errTable1X2X2X2.tex
errTable1X2X2X3.tex
errTable1X2X2X4.tex
errTable1X2X2X5.tex
errTable1X2X2X6.tex
errTable1X2X2X7.tex
errTable1X2X2X8.tex
errTable1X2X2X9.tex
errTable1X3X1X1.tex
errTable1X3X1X10.tex
errTable1X3X1X2.tex
errTable1X3X1X3.tex
errTable1X3X1X4.tex
errTable1X3X1X5.tex
errTable1X3X1X6.tex
errTable1X3X1X7.tex
errTable1X3X1X8.tex
errTable1X3X1X9.tex
errTable1X3X2X1.tex
errTable1X3X2X10.tex
errTable1X3X2X2.tex
errTable1X3X2X3.tex
errTable1X3X2X4.tex
errTable1X3X2X5.tex
errTable1X3X2X6.tex
errTable1X3X2X7.tex
errTable1X3X2X8.tex
errTable1X3X2X9.tex
errTable1X4X1X1.tex
errTable1X4X1X10.tex
errTable1X4X1X2.tex
errTable1X4X1X3.tex
errTable1X4X1X4.tex
errTable1X4X1X5.tex
errTable1X4X1X6.tex
errTable1X4X1X7.tex
errTable1X4X1X8.tex
errTable1X4X1X9.tex
errTable1X4X2X1.tex
errTable1X4X2X10.tex
errTable1X4X2X2.tex
errTable1X4X2X3.tex
errTable1X4X2X4.tex
errTable1X4X2X5.tex
errTable1X4X2X6.tex
errTable1X4X2X7.tex
errTable1X4X2X8.tex
errTable1X4X2X9.tex
errTable2X1X1X1.tex
errTable2X1X1X10.tex
errTable2X1X1X2.tex
errTable2X1X1X3.tex
errTable2X1X1X4.tex
errTable2X1X1X5.tex
errTable2X1X1X6.tex
errTable2X1X1X7.tex
errTable2X1X1X8.tex
errTable2X1X1X9.tex
errTable2X1X2X1.tex
errTable2X1X2X10.tex
errTable2X1X2X2.tex
errTable2X1X2X3.tex
errTable2X1X2X4.tex
errTable2X1X2X5.tex
errTable2X1X2X6.tex
errTable2X1X2X7.tex
errTable2X1X2X8.tex
errTable2X1X2X9.tex
errTable2X2X1X1.tex
errTable2X2X1X10.tex
errTable2X2X1X2.tex
errTable2X2X1X3.tex
errTable2X2X1X4.tex
errTable2X2X1X5.tex
errTable2X2X1X6.tex
errTable2X2X1X7.tex
errTable2X2X1X8.tex
errTable2X2X1X9.tex
errTable2X2X2X1.tex
errTable2X2X2X10.tex
errTable2X2X2X2.tex
errTable2X2X2X3.tex
errTable2X2X2X4.tex
errTable2X2X2X5.tex
errTable2X2X2X6.tex
errTable2X2X2X7.tex
errTable2X2X2X8.tex
errTable2X2X2X9.tex
errTable2X3X1X1.tex
errTable2X3X1X10.tex
errTable2X3X1X2.tex
errTable2X3X1X3.tex
errTable2X3X1X4.tex
errTable2X3X1X5.tex
errTable2X3X1X6.tex
errTable2X3X1X7.tex
errTable2X3X1X8.tex
errTable2X3X1X9.tex
errTable2X3X2X1.tex
errTable2X3X2X10.tex
errTable2X3X2X2.tex
errTable2X3X2X3.tex
errTable2X3X2X4.tex
errTable2X3X2X5.tex
errTable2X3X2X6.tex
errTable2X3X2X7.tex
errTable2X3X2X8.tex
errTable2X3X2X9.tex
errTable2X4X1X1.tex
errTable2X4X1X10.tex
errTable2X4X1X2.tex
errTable2X4X1X3.tex
errTable2X4X1X4.tex
errTable2X4X1X5.tex
errTable2X4X1X6.tex
errTable2X4X1X7.tex
errTable2X4X1X8.tex
errTable2X4X1X9.tex
errTable2X4X2X1.tex
errTable2X4X2X10.tex
errTable2X4X2X2.tex
errTable2X4X2X3.tex
errTable2X4X2X4.tex
errTable2X4X2X5.tex
errTable2X4X2X6.tex
errTable2X4X2X7.tex
errTable2X4X2X8.tex
errTable2X4X2X9.tex
errTable3X1X1X1.tex
errTable3X1X1X10.tex
errTable3X1X1X2.tex
errTable3X1X1X3.tex
errTable3X1X1X4.tex
errTable3X1X1X5.tex
errTable3X1X1X6.tex
errTable3X1X1X7.tex
errTable3X1X1X8.tex
errTable3X1X1X9.tex
errTable3X1X2X1.tex
errTable3X1X2X10.tex
errTable3X1X2X2.tex
errTable3X1X2X3.tex
errTable3X1X2X4.tex
errTable3X1X2X5.tex
errTable3X1X2X6.tex
errTable3X1X2X7.tex
errTable3X1X2X8.tex
errTable3X1X2X9.tex
errTable3X2X1X1.tex
errTable3X2X1X10.tex
errTable3X2X1X2.tex
errTable3X2X1X3.tex
errTable3X2X1X4.tex
errTable3X2X1X5.tex
errTable3X2X1X6.tex
errTable3X2X1X7.tex
errTable3X2X1X8.tex
errTable3X2X1X9.tex
errTable3X2X2X1.tex
errTable3X2X2X10.tex
errTable3X2X2X2.tex
errTable3X2X2X3.tex
errTable3X2X2X4.tex
errTable3X2X2X5.tex
errTable3X2X2X6.tex
errTable3X2X2X7.tex
errTable3X2X2X8.tex
errTable3X2X2X9.tex
errTable3X3X1X1.tex
errTable3X3X1X10.tex
errTable3X3X1X2.tex
errTable3X3X1X3.tex
errTable3X3X1X4.tex
errTable3X3X1X5.tex
errTable3X3X1X6.tex
errTable3X3X1X7.tex
errTable3X3X1X8.tex
errTable3X3X1X9.tex
errTable3X3X2X1.tex
errTable3X3X2X10.tex
errTable3X3X2X2.tex
errTable3X3X2X3.tex
errTable3X3X2X4.tex
errTable3X3X2X5.tex
errTable3X3X2X6.tex
errTable3X3X2X7.tex
errTable3X3X2X8.tex
errTable3X3X2X9.tex
errTable3X4X1X1.tex
errTable3X4X1X10.tex
errTable3X4X1X2.tex
errTable3X4X1X3.tex
errTable3X4X1X4.tex
errTable3X4X1X5.tex
errTable3X4X1X6.tex
errTable3X4X1X7.tex
errTable3X4X1X8.tex
errTable3X4X1X9.tex
errTable3X4X2X1.tex
errTable3X4X2X10.tex
errTable3X4X2X2.tex
errTable3X4X2X3.tex
errTable3X4X2X4.tex
errTable3X4X2X5.tex
errTable3X4X2X6.tex
errTable3X4X2X7.tex
errTable3X4X2X8.tex
errTable3X4X2X9.tex
errTable4$4$4$10
errTable4$4$4$10.tex
errTable4X1X1X1.tex
errTable4X1X1X10.tex
errTable4X1X1X2.tex
errTable4X1X1X3.tex
errTable4X1X1X4.tex
errTable4X1X1X5.tex
errTable4X1X1X6.tex
errTable4X1X1X7.tex
errTable4X1X1X8.tex
errTable4X1X1X9.tex
errTable4X1X2X1.tex
errTable4X1X2X10.tex
errTable4X1X2X2.tex
errTable4X1X2X3.tex
errTable4X1X2X4.tex
errTable4X1X2X5.tex
errTable4X1X2X6.tex
errTable4X1X2X7.tex
errTable4X1X2X8.tex
errTable4X1X2X9.tex
errTable4X2X1X1.tex
errTable4X2X1X10.tex
errTable4X2X1X2.tex
errTable4X2X1X3.tex
errTable4X2X1X4.tex
errTable4X2X1X5.tex
errTable4X2X1X6.tex
errTable4X2X1X7.tex
errTable4X2X1X8.tex
errTable4X2X1X9.tex
errTable4X2X2X1.tex
errTable4X2X2X10.tex
errTable4X2X2X2.tex
errTable4X2X2X3.tex
errTable4X2X2X4.tex
errTable4X2X2X5.tex
errTable4X2X2X6.tex
errTable4X2X2X7.tex
errTable4X2X2X8.tex
errTable4X2X2X9.tex
errTable4X3X1X1.tex
errTable4X3X1X10.tex
errTable4X3X1X2.tex
errTable4X3X1X3.tex
errTable4X3X1X4.tex
errTable4X3X1X5.tex
errTable4X3X1X6.tex
errTable4X3X1X7.tex
errTable4X3X1X8.tex
errTable4X3X1X9.tex
errTable4X3X2X1.tex
errTable4X3X2X10.tex
errTable4X3X2X2.tex
errTable4X3X2X3.tex
errTable4X3X2X4.tex
errTable4X3X2X5.tex
errTable4X3X2X6.tex
errTable4X3X2X7.tex
errTable4X3X2X8.tex
errTable4X3X2X9.tex
errTable4X4X1X1.tex
errTable4X4X1X10.tex
errTable4X4X1X2.tex
errTable4X4X1X3.tex
errTable4X4X1X4.tex
errTable4X4X1X5.tex
errTable4X4X1X6.tex
errTable4X4X1X7.tex
errTable4X4X1X8.tex
errTable4X4X1X9.tex
errTable4X4X2X1.tex
errTable4X4X2X10.tex
errTable4X4X2X2.tex
errTable4X4X2X3.tex
errTable4X4X2X4.tex
errTable4X4X2X5.tex
errTable4X4X2X6.tex
errTable4X4X2X7.tex
errTable4X4X2X8.tex
errTable4X4X2X9.tex
errTable4X4X4X1.tex
errTable4X4X4X10.tex
errTable5X1X1X1.tex
errTable5X1X2X1.tex
errTable5X2X1X1.tex
errTable5X2X2X1.tex
forImport/dwell.class
forImport/keepDwell.java
forLilMod.mth
genFRFunc[{4,
genLilXkZkFunc[{{{0.,
gssa/
idStr
koopman/
maliarSmolyak/
otherGuts
theRes01.mth
{-0.0580617
{0.,
{0.0444237,
{0.0500976
{0.0500976}},
{0.342342,
{0},
{3.77728
{CompilePrivatePrivatePrivatePrivatePrivatePrivate
{theFRZArgs76530,
{{-0.0444237,
{{-3.7735},
{{0.,
{{0.},
{{1.,
{{theFRZArgs76528,
{{{-0.111709
{}][1,
